.main
{
    background-color: #303A4D;
}
@font-face {
    font-family:degular;
    src: url(DegularDemo-Black.otf);
}
.degular
{
    font-family:degular;
}
@font-face {
    font-family:sofiapro;
    src: url(Sofia\ Pro\ Medium.ttf);
}
@font-face {
    font-family:sofiapro-light;
    src: url(sofiapro-light.otf);
}
.sofiapro
{
    font-family: sofiapro;
    color: #303a4d;
}
.small
{
    letter-spacing:-0.3072px;
    font-family: sofiapro;
    color: #303A4D;
    font-weight:400;
}
#bghover{
  z-index: 5;
  position: relative;
  background-color: #303a4d;
  background: none;
}
#bghover :hover{
  transition-duration: 4s;
  transform: translateY(3px);
  background-color: whitesmoke;
  
}
.card {
   
    position: relative;
    display: inline-block;
    
}
.card .img-top {
    display: none;
    position: absolute;
    top: 0;
transition: opacity 0.4s ease-in-out !important;
    left: 0;
    
}
.card:hover .img-top {
    display: inline;
}


@font-face {
    font-family: "Degular-main";
    font-weight: 700;
    src: url(//cdn.shopify.com/s/files/1/0678/5564/6998/t/2/assets/degular-bold-webfont.woff2?v=156862206169705685181678137552) format("woff2"),
        url(//cdn.shopify.com/s/files/1/0678/5564/6998/t/2/assets/degular-bold-webfont.woff?v=73120046331349750091678137554) format("woff");
  }
  .img1
  {
    height: 95vh;
    overflow: clip;
    object-fit: cover;
    /* font-size: 86px; */
   
  }
  .img2{
    display: none;
  }
  @media (max-width:640px) and (min-width:320px) {
    .img1{
      display: none;
      height: 95vh;
      overflow: clip;
      object-fit: cover;
    }
    .img2{
      display: block;
      height: 95vh;
      overflow: clip;
      font-size: 49px;
    margin-top: -39px;
      object-fit: cover;
    }
  }

.c-header-bg
{
	position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: auto;
    margin-right: 2em;
    margin-left: 2em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    background-color: #fff;
    box-shadow: 0 3px 3px #0000000d;
    transform: translateY(-110%);
}
.item-1,
.item-2,
.item-3 {
animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.item-1 {
  animation-name: anim-1;
}

.item-2 {
  animation-name: anim-2;
}

.item-3 {
  animation-name: anim-3;
}

@keyframes anim-1 {
  0%,
  8.3% {
   right: -100%;
    opacity: 0;
  }
  8.3%,
  25% {
   right: 21%;
    opacity: 1;
  }
  33.33%,
  100% {
   right: 110%;
    opacity: 0;
  }
}

@keyframes anim-2 {
  0%,
  33.33% {
   right: -100%;
    opacity: 0;
  }
  41.63%,
 58.29%  {
   right: 21%;
    opacity: 1;
  }
  66.66%,
  100% {
   right: 110%;
    opacity: 0;
  }
}

@keyframes anim-3 {
  0%,
  66.66% {
   right: -100%;
    opacity: 0;
  }
  74.96%,
  91.62% {
   right: 21%;
    opacity: 1;
  }
  100% {
   right: 110%;
    opacity: 0;
  }
}
.top123{
position: absolute;
    top: 1em;
    right: 1em;
    width: 8em;
    height: 8em;
    max-width: 128px;
    max-height: 128px;
    z-index: 2;
    background-image: url(https://cdn.shopify.com/s/files/1/0678/5564/6998/files/freeshipping-badge.svg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.c-nav-link_hover {
  position: absolute;
  width: 100%!important;
  transform: translateY(3px);
  color: #fff;
}
.fd{
            
  /* z-index: -1;  */
  width: 20.125em;
  display: flex;
  position: absolute;
   top:12%; 
  left:0px;
}
 
.footer-shape_rt {
  /* z-index: -1;  */
  width: 31.125em;
  display: flex;
  position: absolute;
  top:40%;
  /* left:67%; */
  right:0px;
}
@media screen and (max-width: 576px) {
  .fd2 {
      position: absolute;
      top: 471px;
      width: 240px;
  }

  .fd1 {
      position: absolute;
      top: 403px;
      left: 196px;
      width: 300px;
  }
}